@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@600&display=swap%22");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
  z-index: -1;
}
